body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
}

.imla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.imla iframe {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    padding: 2rem;
}

picture {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 4rem;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#registrationCount {
    font-weight: bold;
}

footer p {
    text-align: center;
}
